.logo img {
  width: 50px; 
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;  
  margin: 20px auto;  
  background-color: var(--color-light);
  padding: 20px;
  border-radius: 10px;
  width: fit-content;  
  text-align: center;  
}

 .title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-light);
  }
  
.calendar {
    margin-bottom: 20px;
  }
  
.available {
    background-color: #4caf50;
    color: var(--color-dark);
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
.unavailable {
    background-color:var(--color-disabled);
    color:#fff;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
  }
  .modalContainer {
    width: 80%; 
    max-width: 600px; 
    margin: 0 auto; 
    background-color: #fff;
    
  }
  
  .professionalSelect {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 1.2rem;
    color: var(--color-dark);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .selectProfessional {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--color-light);
    width: 100%;  
    max-width: 300px;  
    background-color: var(--color-light);
    
  }
  
  .hoursSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .closeButton {
    background-color: #f44336; 
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; 
    display: block; 
  }
  
  .closeButton:hover {
    background-color: #d32f2f; 
  }
  
  .appointments {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }
  .appointmentsTitle {
    margin-bottom: 20px; 
    font-size: 1.5rem;
    color: var(--color-dark); 
  }
  .appointmentsTitle {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--color-dark); 
  }
  
  .appointmentText {
    color:var(--color-dark) ;
  }
  .appointmentBlock {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center; 
    width: fit-content; 
    background-color: var(--color-light);
    color: var(--color-light);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: center; 
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px; 
    margin-top: 10px; 
  }
  
  .edit {
    padding: 10px 15px;
    background-color: #4caf50;  
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit:hover {
    background-color: #45a049; 
  }
  
  .delete {
    padding: 10px 15px;
    background-color: #f44336; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete:hover {
    background-color: #d32f2f; 
  }
  .footer{
    background-color: #fff;
    color: var(--color-full);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }