.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .calendar {
    margin-bottom: 20px;
  }
  
  .available {
    background-color: #4caf50;
    color: white;
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .unavailable {
    background-color: #f44336;
    color: white;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
  }
  
  .closeButton {
    background-color: #555;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .appointments {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center
  }
  .appointmentsTitle {
    margin-bottom: 20px; 
    font-size: 1.5rem;
    color: #333; 
  }
  .appointmentsTitle {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333; 
  }
  
  .appointmentText {
    color: #555;
  }
  .appointmentBlock {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center; 
    width: fit-content; 
    background-color: #555;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: center; 
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px; 
    margin-top: 10px; 
  }
  
  .edit {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit:hover {
    background-color: #45a049; 
  }
  
  .delete {
    padding: 10px 15px;
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete:hover {
    background-color: #d32f2f; 
  }
  